# ---------------------
# Hono Configuration
# ---------------------
PORT=

# ---------------------
# Docker Compose
# ---------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# ---------------------
# Database Configuration
# ---------------------
DATABASE_URL=

# ---------------------
# OpenRouter
# ---------------------
OPENROUTER_API_KEY=